<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stremio Cast Receiver</title>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="//www.gstatic.com/cast/sdk/libs/caf_receiver/v3/cast_receiver_framework.js"></script>
    <style>
        <%= compilation.assets['main.css'].source() %>
    </style>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript">
        <%= compilation.assets['main.js'].source() %>
    </script>
</body>

</html>